Repository Far-Horizons-SS14/Far-Horizons-SS14, pull requests merged in 2025-09, with the labels that each got.

#17 Department Specific Announcements
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Shared/Communications/SharedCommunicationsConsoleComponent.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: S: Needs Review, Changes: UI, Changes: C#, size/M

#30 Quick QoL and fixes to Departmental Announcements
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: S: Needs Review, Changes: C#, size/S

#38 add new doors plus special migrator for it
  Content.Server/_FarHorizons/Doors/Systems/DoorsMigrationSystem.cs
  Resources/Audio/_RMC14/Machines/airlock.ogg
  Resources/Audio/_RMC14/Machines/attributions.yml
  Resources/Audio/_RMC14/Machines/buzz_two.ogg
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/_FarHorizons/Entities/Structures/Doors/Airlocks/base_assembly.yml
  Resources/Prototypes/_FarHorizons/Entities/Structures/Doors/Airlocks/fh_basic_airlock.yml
  Resources/Prototypes/_FarHorizons/RCD/rcd.yml
  Resources/Prototypes/_FarHorizons/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/_FarHorizons/Recipes/Construction/structures.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/cm_doors.yml
  Resources/Textures/_FarHorizons/Interface/Radial/RCD/airlock.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/assembly.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/closed.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/closing.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/deny.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/locked.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/meta.json
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/open.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/opening.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/panel_open.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/spark.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/unlit.png
  Resources/Textures/_FarHorizons/Structures/Doors/Airlocks/Standard/basic.rsi/welded.png
  Resources/_FarHorizons/migration.yml
Labels: S: Needs Review, S: Untriaged, Changes: Sprites, Changes: Audio, Changes: C#, size/M

#41 Animated directional signs
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_atmos.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_bar.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_bridge.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_brig.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_chapel.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_chemistry.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_cryo.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_dorms.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_eng.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_evac.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_exam.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_food.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_gravity.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_hop.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_hydro.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_icu.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_janitor.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_library.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_med.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_pods.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_salvage.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_sci.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_sec.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_solar.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_supply.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/direction_wash.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/signs.rsi/meta.json
Labels: S: Needs Review, size/L, Changes: Sprites, Changes: No C#

#31 Sec partial gameplay rework
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Objectives/ninja.yml
  Resources/Prototypes/Recipes/Lathes/ammo.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_StarLight/Catalog/VendingMachines/Inventories/security.yml
  Resources/Prototypes/_StarLight/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_StarLight/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/ammo.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-left-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-left-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-left-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-left-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-right-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-right-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-right-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-right-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/disabler.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/off-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/off-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/on-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/on-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_nocell.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_off.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_on.png
Labels: S: Untriaged, Changes: Sprites, size/M, Changes: No C#

#46 Add natural spawns for shipyard tools
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#47 add intercom resprite
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/intercom.yml
  Resources/Textures/_FarHorizons/Structures/Wallmounts/intercom.rsi/base.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/intercom.rsi/broadcasting.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/intercom.rsi/build.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/_FarHorizons/Structures/Wallmounts/intercom.rsi/panel.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/intercom.rsi/speaker.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: S: Untriaged, Changes: Sprites, size/S, Changes: No C#

#45 [WIP] Add air alarms resprites
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/fire_alarm.yml
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/alarm0.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/alarm1.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/alarm2.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/alarm_b1.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/alarm_b2.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/alarmp.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/alarmx.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/auth_off.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/auth_on.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire0.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire_0.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire_2.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire_b0.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire_b1.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire_b2.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire_bitem.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire_off.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire_on.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/fire_overlay.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/firex.png
  Resources/Textures/_FarHorizons/Structures/Wallmounts/air_monitors.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, size/M, Changes: No C#

#37 Ntnc borgs fh attempt 2
  Resources/Locale/en-US/_FarHorizons/station-laws/laws.ftl
  Resources/Locale/en-US/_Starlight/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_FarHorizons/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_FarHorizons/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_FarHorizons/tags.yml
  Resources/Prototypes/_StarLight/Actions/jump.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Tools/AccessOverider.yml
  Resources/Prototypes/silicon-laws.yml
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_haw.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_haw_e.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_haw_e_r.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_haw_l.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_sosu.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_sosu_e.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_sosu_e_r.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_sosu_e_r_static.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_sosu_e_static.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_sosu_l.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_sosu_l_static.png
  Resources/Textures/_FarHorizons/Mobs/Silicon/chassis.rsi/ntnc_sosu_static.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/base-icon-inhand-left.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/base-icon-inhand-right.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/base-module-inhand-left.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/base-module-inhand-right.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/base-part-inhand-left.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/base-part-inhand-right.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/base-stripes-inhand-left.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/base-stripes-inhand-right.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/centcomm.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/icon-centcomm.png
  Resources/Textures/_FarHorizons/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: S: Untriaged, Changes: Sprites, size/M, Changes: No C#

#49 fix doors migrator, fix server name, fix pda date
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Server/_FarHorizons/Doors/Systems/DoorsMigrationSystem.cs
  Content.Shared/_FarHorizons/CCVar/FHCCVars.cs
  Content.Shared/_Starlight/CCVar/StarlightCCVar.cs
  Content.Shared/_Starlight/Time/SharedTimeSystem.cs
Labels: Changes: UI, Changes: C#

#50 HotFix: alarms texture
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/fire_alarm.yml
Labels: S: Needs Review, Changes: No C#

#52 fix sec radio visualization
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_FarHorizons/Entities/Objects/Devices/radio.yml
Labels: S: Needs Review, S: Untriaged, size/S, Changes: No C#

#53 Security Fixes & Changes
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Textures/_FarHorizons/Objects/Weapons/Melee/telebatonsec.rsi/batonoff-icon.png
  Resources/Textures/_FarHorizons/Objects/Weapons/Melee/telebatonsec.rsi/batonoff-inhand-left.png
  Resources/Textures/_FarHorizons/Objects/Weapons/Melee/telebatonsec.rsi/batonoff-inhand-right.png
  Resources/Textures/_FarHorizons/Objects/Weapons/Melee/telebatonsec.rsi/batonon-icon.png
  Resources/Textures/_FarHorizons/Objects/Weapons/Melee/telebatonsec.rsi/batonon-inhand-left.png
  Resources/Textures/_FarHorizons/Objects/Weapons/Melee/telebatonsec.rsi/batonon-inhand-right.png
  Resources/Textures/_FarHorizons/Objects/Weapons/Melee/telebatonsec.rsi/equipped-BELT.png
  Resources/Textures/_FarHorizons/Objects/Weapons/Melee/telebatonsec.rsi/meta.json
Labels: S: Needs Review, S: Untriaged, Changes: Sprites, size/M, Changes: No C#

#54 HOTFIX - Intercom Sprite Update
  Resources/Textures/_FarHorizons/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/_FarHorizons/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: S: Needs Review, S: Untriaged, Changes: Sprites, size/S, Changes: No C#

#57 Beepbeep
  Resources/Audio/Machines/airlock_deny.ogg
  Resources/Prototypes/_FarHorizons/Entities/Structures/Doors/Airlocks/fh_basic_airlock.yml
Labels: Changes: Audio, size/S, Changes: No C#

#59 CE Jumpsuit/skirt resprite
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/meta.json
Labels: S: Needs Review, Changes: Sprites, Changes: No C#

#76 Vitals Monitor circuit board/construction, cleaned up comments in VM
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_FarHorizons/Entities/Objects/Devices/Circuitboards/Machine/vitalsmonitor.yml
  Resources/Prototypes/_FarHorizons/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_FarHorizons/Recipes/Lathes/machine_boards.yml
Labels: S: Needs Review, S: Untriaged, size/S, Changes: No C#

#80 RESEARCH WORKS NOW
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_FarHorizons/Recipes/Lathes/security/security.yml
  Resources/Prototypes/_FarHorizons/Research/arsenal.yml
Labels: S: Needs Review, S: Untriaged, size/S, Changes: No C#

#83 ( HOTFIX) Tower of Babel unbuyable.
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/_StarLight/Catalog/spellbook_catalog.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#

#82 Rebalances some lethal damage values on sec's weapons
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_FarHorizons/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: S: Untriaged, size/S, Changes: No C#

#84 (Small Fix) Vitals Monitor
  Resources/Prototypes/_FarHorizons/Entities/Structures/Machines/Computers/computers.yml
Labels: S: Needs Review, S: Untriaged, Changes: No C#, size/XS

#94 Update rsi-diff.yml
  .github/workflows/rsi-diff.yml
Labels: Changes: No C#, size/XS

#96 Disable Whitelist Requirement to Spawn Roles
  Resources/Prototypes/_StarLight/Roles/Jobs/Law/Magistrate.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/blueshield.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Representives/nanotrasenrepresentative.yml
Labels: S: Needs Review, S: Untriaged, size/S, Changes: No C#
