Repository Far-Horizons-SS14/Far-Horizons-SS14, pull requests merged in 2025-10, with the labels that each got.

#101 fix patchnotes
  .github/workflows/auto-changelog.yml
  .github/workflows/backfill-changelog.yml
Labels: S: Needs Review, S: Untriaged, size/S, Changes: No C#

#104 CI updates
  .github/workflows/auto-assign.yml
  .github/workflows/auto-changelog.yml
  .github/workflows/backfill-changelog.yml
  .github/workflows/benchmarks.yml
  .github/workflows/build-docfx.yml
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/changelog-validator.yml
  .github/workflows/check-crlf.yml
  .github/workflows/close-master-pr.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-needsreview.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/labeler-review.yml
  .github/workflows/labeler-size.yml
  .github/workflows/labeler-stable.yml
  .github/workflows/labeler-staging.yml
  .github/workflows/labeler-untriaged.yml
  .github/workflows/mapping-notify.yml
  .github/workflows/publish-testing.yml
  .github/workflows/publish.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/test-packaging.yml
  .github/workflows/update-credits.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/yaml-linter.yml
Labels: S: Needs Review, size/M, Changes: No C#

#105 More CI changes: write permissions to PRs
  .github/workflows/auto-changelog.yml
  .github/workflows/backfill-changelog.yml
Labels: S: Needs Review, Changes: No C#

#107 Ci updates 3
  .github/workflows/auto-changelog.yml
  .github/workflows/backfill-changelog.yml
  .github/workflows/benchmarks.yml
  .github/workflows/build-docfx.yml
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/changelog-validator.yml
  .github/workflows/check-crlf.yml
  .github/workflows/close-master-pr.yml
  .github/workflows/discord-publish.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-needsreview.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/labeler-size.yml
  .github/workflows/labeler-untriaged.yml
  .github/workflows/rsi-diff.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/yaml-linter.yml
  Tools/actions_changelogs_since_last_run.py
  Tools/changelogs/sent_changelog_ids.yml
  Tools/manual_changelog.py
  Tools/read_changelog.py
Labels: S: Needs Review, size/L, Changes: No C#

#108 Ci updates 4
  .github/workflows/auto-changelog.yml
  .github/workflows/discord-publish.yml
Labels: S: Needs Review, Changes: No C#

#110 Stop CI from requiring previous successfull runs to run
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: No C#, size/XS

#113 I am so done with this... [CI]
  .github/workflows/auto-changelog.yml
Labels: S: Untriaged, Changes: No C#

#120 rename starlight in patchnotes message
  Tools/actions_changelogs_since_last_run.py
Labels: S: Needs Review, Changes: No C#

#123 Tiny Update to make Ammonia Pack more color blind accessible
  Resources/Textures/_FarHorizons/Objects/Specific/Medical/medical.rsi/ammoniapack.png
Labels: S: Needs Review, S: Untriaged, Changes: Sprites, Changes: No C#

#127 Add null link roles commands
  Content.Server/_FarHorizons/Administration/Commands/AddPlayerRoleCommand.cs
  Content.Server/_FarHorizons/Administration/Commands/GetPlayerRolesCommand.cs
  Content.Server/_FarHorizons/Administration/Commands/RemovePlayerRoleCommand.cs
  Content.Server/_NullLink/PlayerData/INullLinkPlayerManager.cs
  Content.Server/_NullLink/PlayerData/NullLinkPlayerManager.cs
  Resources/Locale/en-US/_FarHorizons/administration/player-roles-command.ftl
  Resources/Prototypes/_NullLink/RolesReq/ghost_themes.yml
  Resources/engineCommandPerms.yml
Labels: S: Untriaged, Changes: C#, size/M

#125 Adding Stasis Beds to Vitals Monitor connections, renaming links, cleaning up text popup
  Resources/Locale/en-US/_FarHorizons/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/_FarHorizons/machine-linking/transmitter_ports.ftl
  Resources/Locale/en-US/_Starlight/medical/components/health-analyzer-component.ftl
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
  Resources/Prototypes/_FarHorizons/DeviceLinking/sink_ports.yml
  Resources/Prototypes/_FarHorizons/DeviceLinking/source_ports.yml
Labels: S: Needs Review, S: Untriaged, size/S, Changes: No C#

#137 Add Magistrate Hardsuit, Locker, Clothing, Etc.
  Resources/Locale/en-US/_FarHorizons/preferences/loadout-groups.ftl
  Resources/Prototypes/Paintables/locker_groups.yml
  Resources/Prototypes/_FarHorizons/Catalog/Fills/Lockers/magistrate.yml
  Resources/Prototypes/_FarHorizons/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_FarHorizons/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_FarHorizons/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_FarHorizons/Loadouts/Jobs/magistrate.yml
  Resources/Prototypes/_FarHorizons/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/loadout_groups.yml
  Resources/Prototypes/_StarLight/Loadouts/role_loadouts.yml
  Resources/Prototypes/_StarLight/Roles/Jobs/Law/Magistrate.yml
  Resources/Textures/_FarHorizons/Clothing/Head/Hardsuits/magistrate.rsi/icon-flash.png
  Resources/Textures/_FarHorizons/Clothing/Head/Hardsuits/magistrate.rsi/icon.png
  Resources/Textures/_FarHorizons/Clothing/Head/Hardsuits/magistrate.rsi/meta.json
  Resources/Textures/_FarHorizons/Clothing/Head/Hardsuits/magistrate.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_FarHorizons/Clothing/Head/Hardsuits/magistrate.rsi/off-equipped-HELMET.png
  Resources/Textures/_FarHorizons/Clothing/Head/Hardsuits/magistrate.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_FarHorizons/Clothing/Head/Hardsuits/magistrate.rsi/on-equipped-HELMET.png
  Resources/Textures/_FarHorizons/Clothing/OuterClothing/Hardsuits/magistrate.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_FarHorizons/Clothing/OuterClothing/Hardsuits/magistrate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_FarHorizons/Clothing/OuterClothing/Hardsuits/magistrate.rsi/icon.png
  Resources/Textures/_FarHorizons/Clothing/OuterClothing/Hardsuits/magistrate.rsi/inhand-left.png
  Resources/Textures/_FarHorizons/Clothing/OuterClothing/Hardsuits/magistrate.rsi/inhand-right.png
  Resources/Textures/_FarHorizons/Clothing/OuterClothing/Hardsuits/magistrate.rsi/meta.json
Labels: S: Needs Review, S: Untriaged, Changes: Sprites, size/M, Changes: No C#
